*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   }
body {
    font-family: sans-serif;
}
.navbar {
 display: flex;
 align-items: center;
 padding: 20px;
}
nav {
flex: 1;
text-align: right; 
}
nav ul {
display: inline-block;
list-style-type: none;
}
nav ul li {
display: inline-block;
margin-right: 20px;
}
a {
 text-decoration: none;
 color: #555;
}
p {
 color: #555;
}
.contianer {
 max-width: 1300px;
 margin: auto;
 padding-left: 25px;
 padding-right: 25px;    
}
.row {
 display:flex;
 align-items: center;
 flex-wrap: wrap;
 justify-content: space-around;
}
.col-2 {
 flex-basis: 50%;
 min-width: 300px;
}
.col-2 img{
max-width: 100%;
padding: 50px 0;
}
.col-2 h1{
font-size: 50px;
line-height: 60px;
margin: 25px 0;
}
.menu-icon {
width: 28px;
margin-left: 20px;
display: none;
}
@media only screen and (max-width: 800px) {
nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
}
nav ul li {
display: block;
margin-right: 50px;
margin-top: 10px;
margin-bottom: 10px;
}
nav ul a {
    color: #fff;
}
.menu-icon {
    display: block;
cursor: pointer;
}
}

.header {
 background: radial-gradient(#fff,#ffd6d6);
}